os:
  - osx
  - linux
language: generic
sudo: required
dist: trusty
osx_image: xcode11
install:
  - eval "$(curl -sL https://swiftenv.fuller.li/install.sh)"
env:
  - SWIFT_VERSION=5.0
  - SWIFT_VERSION=5.0.1
  - SWIFT_VERSION=5.1-DEVELOPMENT-SNAPSHOT-2019-08-14-a 
script:
  - swift package update
  - swift test
addons:
  homebrew:
    packages:
    - beanstalk
    update: true
